body {
    margin: 0;
}


.navigation {
    background-color: #8cf704;
    padding: 20px;
    display: flex;
justify-content: space-between;
align-items: center;
}
.nav-items {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.nav-items li{
    display: inline;
}




.textabout{
   
    display: flex;
    position: relative;
    
}
.videoabout {
    display: flex;
    position: absolute;
    top right: border: ;
}

.aboutus {
    display: flex;
    height: 75vh;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    justify-content: space-around;
}
.companyInfo {
    margin-right: 180px;
    margin-left: 100px;
    font-size: 1.3em;
    animation: fadeIn 3s  linear .2s  forwards;

    .video {
        margin-right: 20px;
    }
    
 