body {
    margin: 0;
}

.navigation {
    background-color: #8cf704;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    margin-right: 20px;
}

#search {
    background-color: transparent;
    border: 1px solid #1f382e;
    border-radius: 4px;
    outline: none;
    padding: 6px 10px;
}

.links {

}

ul.links li:not(:last-child) {
    margin-right: 16px;
}

.nav-items {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav-items li {
    display: inline;
}

.auth {
    float: right;
}


.btn-primary {
    background-color: #8a25e1;
    color: white;
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.btn-primary:hover {
    background-color: #5a0c9d;
    /* position: relative; */
    /* position: absolute; */
    /* position: fixed;
    position: sticky; */
}


#img {
    opacity: .6;
    transition: all .3s;
}

#img:hover {
    opacity: 1;
}

table, td, th {
    border: 1px solid gray;
}

th {
    background-color: green;
    color: white
}

td, th {
    padding: 4px 8px;
}

tr:nth-child(even) {
    background-color: gold;
}

tr:nth-child(even):hover {
    background-color: red;
    color: white;
}

tr:nth-child(odd):hover {
    background-color: black;
    color: white;
}

tr:nth-child(odd) {
    background-color: goldenrod;
}

table {
    border-collapse: collapse;
}

#slider {
    position: relative;
}

.slider {
    height: 45vh;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: all .3s;
    transition-timing-function: linear;
}

.slider-btn:hover {
    backdrop-filter: blur(10px);
}

.suggestedProductsTitle {
    text-align: center;
}

#suggestedProducts {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 8px;

}


.product {
    flex: 1;
    margin-right: 15px;
    box-shadow: 0px 5px 5px rgb(203 203 203 / 60%);
    cursor: pointer;
    transition: box-shadow .3s;
}

.product:last-child {
    margin-right: 0;
}

.product:hover {
    box-shadow: 0px 5px 5px rgb(147 147 147 / 60%);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-desc {
    padding: 20px;
}

.product-quantity {
    outline: none;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    margin-right: 10px;
}

.product-quantity:focus {
    border: 1.5px solid rgb(190, 189, 189);
}

.product-inputs-container {
    display: flex;
    align-items: center;
}


#footer {
    width: 100%;
    background-color: #8cf704;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}