.Home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#section-top {
    background-image: url("../../img/section-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: center;

}



#section-top h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(22, end),
        blink-caret .75s step-end infinite;
    font-size: 48px;
    color: #ff0000;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

#section-middle {
    background-image: url("../../img/section-middle.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-middle h1 {
    animation: zoomindown;
    animation-duration: 2.5s;
}

@keyframes zoomindown {
    0% {

        animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        opacity: 0;

        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    }

    60% {

        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        opacity: 1;

        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    }
}

#section-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000e3;
    color: white;
    font-size: 30px;
}


.Sidemenu {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: white;
    top: 0;
    left: -300px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all 0.3s ease-in-out ;
}
.Genre-filter{
    display: flex;
    flex-direction: column;
}
.Price-filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.burgermenu{
    width: 40px;
    height: 40px;
}
.sidemenuheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.sidemenuclose {
    color: red;
    font-size: 20px;
}