.container {
  display: grid;
  grid-gap: 5px;
 
}

.item {
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 20px;
}

.container img {
    margin-top: 8px;
    width: 100%;
  
}
.one {
    width: 20%;
    grid-column-start: 1 ;
    grid-column-end: 3;
  grid-row: 3 / 6;
   
}

.resize {
  width: 100%;
  height: auto
}
