#Header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    font-size: 1rem;
    padding: 5px;
    background-color: #000000e3;
    color: white;
}

.NameSearch {
    display: flex;
    align-items: center;
    gap: 260px;
    color: white;

}

.nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

#search {
    background-color: transparent;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    outline: none;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.btns {
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    outline: none;


}

.busket img {
    width: 40px;
    height: 40px;
}

.busket {
    position: relative;
}

.item-count {
    color: white;
    position: absolute;
    right: 14px;
    top: -9px;
    font-weight: bold;
    font-size: 16px;
}

.buy-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-items-right {
    display: flex;
    align-items: center;
    gap: 15px;
}