.container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.pictures {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     width: 50%;
    height: 500px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.p1 {
    width: 300px;
    height: auto;
    
}

.p2 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 300px;
    right: 50px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.pp1 {
    color: burlywood;
}

.pp2 {
    max-width: 80ch;
}

.homedes {
    width: 400px;
    height: 550px;
    position: relative;
}
.homepictures,.mainprice {
    width: 100%;
    height: 250px;
}
.img2 {
    width: 100%;
    height: 250px;
}
.homebanner {
    width: 80%;
    height: 50px;
    background-color:rgb(131 131 183) ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    top: 221px;
}
.mainprice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.country, .price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.button2 {
background-color: chocolate;
height: 50px;
width: 100%;
border: none;
}
.containergrid {
    width: 90vw;
    height: 80vh;
    border: 10px solid red;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-template-rows: 100px 100px 100px 100px;
}
.one {
    grid-column: col-start / col-end;
}
.item { 
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 20px;
}
