.btn-primary , .buy-products {
    color: #fff;
    background-color: #0d6efd;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0d6efd;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
}