@import "./layouts/home";
@import "./animations/animations";
@import "./header.footer/footer";
@import "./header.footer/header";
@import "./header.footer/content";
@import "./productlis/productlist";
@import "./layouts/modal";
@import "./btnstyles";
   
   

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
 a {
   text-decoration: none;
   color: white;
  &:hover{
    text-decoration: underline;
  }
 }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



