




.header {
padding: 30px;
background-color: red;
animation: fadeIn 0.3s timing-function delay iteration-count direction fill-mode;


}

@keyframes fadein  {

    0% {opacity: 0;}
100% {opacity: 1;}


}
