.Home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

#section-top {
  background-image: url("../../img/section-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 665px;
  display: flex;
  align-items: center;
  justify-content: center; }

#section-top h1 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(22, end), blink-caret 0.75s step-end infinite;
  font-size: 48px;
  color: #ff0000; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 50%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

#section-middle {
  background-image: url("../../img/section-middle.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 665px;
  display: flex;
  align-items: center;
  justify-content: center; }

#section-middle h1 {
  animation: zoomindown;
  animation-duration: 2.5s; }

@keyframes zoomindown {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0); }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0); } }

#section-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000e3;
  color: white;
  font-size: 30px; }

.Sidemenu {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: white;
  top: 0;
  left: -300px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: all 0.3s ease-in-out; }

.Genre-filter {
  display: flex;
  flex-direction: column; }

.Price-filter {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.burgermenu {
  width: 40px;
  height: 40px; }

.sidemenuheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px; }

.sidemenuclose {
  color: red;
  font-size: 20px; }

#Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  background-color: #000000e3; }

#logo {
  width: 100px; }

.contactinfo {
  display: flex;
  gap: 30px;
  color: white; }

#Header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-size: 1rem;
  padding: 5px;
  background-color: #000000e3;
  color: white; }

.NameSearch {
  display: flex;
  align-items: center;
  gap: 260px;
  color: white; }

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none; }

#search {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 7px;
  outline: none;
  padding: 10px;
  color: white;
  font-size: 16px; }

.btns {
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  outline: none; }

.busket img {
  width: 40px;
  height: 40px; }

.busket {
  position: relative; }

.item-count {
  color: white;
  position: absolute;
  right: 14px;
  top: -9px;
  font-weight: bold;
  font-size: 16px; }

.buy-items {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.buy-items-right {
  display: flex;
  align-items: center;
  gap: 15px; }

.aboutsite {
  color: white;
  font-size: 30px; }

.welcome {
  color: white;
  font-size: 30px;
  text-align: center; }

p {
  margin: 0; }

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 390px;
  height: 420px;
  background-color: #1b3850;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; }

.movie-img {
  width: 100%;
  height: 60%; }

.movie-img img {
  width: 100%;
  height: 100%; }

.movie-det {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 34%; }

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

.description {
  font-size: 14px;
  font-weight: 500; }

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600; }

#productlist {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  background-image: url("../../img/background.jpg");
  height: 544px;
  background-size: cover;
  box-sizing: border-box; }

.buy {
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 18px; }

.page-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #000000e3; }

.numbers {
  width: 40px;
  border: 1px solid #070006;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: green;
  color: white; }
  .numbers:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; }
  .numbers:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; }

.buy-items {
  color: white; }

.delete {
  color: red; }

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a6e;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: none; }

.modal {
  width: 36%;
  height: 40%;
  background: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 7px;
  border: 1px solid #cfcfcf;
  background-color: #163474b5; }

.reg-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.reg-inputs input {
  outline: none;
  height: 40px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #cfcfcf; }

.confirm-btn {
  color: #fff;
  background-color: #0d6efd;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #0d6efd;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px; }

.reg-btn {
  display: flex;
  justify-content: end; }

.close {
  display: flex;
  justify-content: end; }

.close-btn {
  width: 20px;
  height: 20px; }

.btn-primary, .buy-products {
  color: #fff;
  background-color: #0d6efd;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #0d6efd;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins'; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: underline; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }
