.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a6e;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: none; }

.modal {
  width: 36%;
  height: 40%;
  background: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 7px;
  border: 1px solid #cfcfcf;
  background-color: #163474b5; }

.reg-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.reg-inputs input {
  outline: none;
  height: 40px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #cfcfcf; }

.confirm-btn {
  color: #fff;
  background-color: #0d6efd;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #0d6efd;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px; }

.reg-btn {
  display: flex;
  justify-content: end; }

.close {
  display: flex;
  justify-content: end; }

.close-btn {
  width: 20px;
  height: 20px; }
