p {
  margin: 0; }

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 390px;
  height: 420px;
  background-color: #1b3850;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; }

.movie-img {
  width: 100%;
  height: 60%; }

.movie-img img {
  width: 100%;
  height: 100%; }

.movie-det {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 34%; }

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

.description {
  font-size: 14px;
  font-weight: 500; }

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600; }

#productlist {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  background-image: url("../../img/background.jpg");
  height: 544px;
  background-size: cover;
  box-sizing: border-box; }

.buy {
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 18px; }

.page-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #000000e3; }

.numbers {
  width: 40px;
  border: 1px solid #070006;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: green;
  color: white; }
  .numbers:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; }
  .numbers:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; }

.buy-items {
  color: white; }

.delete {
  color: red; }
